{% include "partials/summary_cards.html" %}

<table id="feeding-list" class="feeding-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>PO</th>
      <th>NG</th>
      <th>Total</th>
      <th>Suggested</th>
      <th>PO %</th>
      <th>Gap</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% include "partials/feeding_inline_add.html" %}
    {% for feeding, gap in feedings %}
    {% include "partials/feeding_row.html" %}
    {% else %}
    <tr>
      <td colspan="9" class="empty">No feedings recorded for this period.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
